/* Body Main Component */
.mainContent {
  max-height: 100vh;
  min-height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.mainContent::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.mainContent::-webkit-scrollbar-button {
  width: 0;
}

.mainContent::-webkit-scrollbar-thumb {
  width: 0;
}

.mainContent > * {
  max-height: 100vh;
  scroll-snap-align: start;
  overflow: hidden;
  min-height: 100vh;
}

/* Page Index */
.indexImage {
  width: 80%;
}

.techContentImg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 1080px) {
  .techContentImg { justify-content: start; }
}

.techContentImg img {
  width: auto;
  height: 45px;
}

/* Page Blog */
.blogBanner {
  min-height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(136, 1, 111, 0.9) 0%,
    rgba(22, 15, 111, 0.9) 100%
  );
}

.blogBannerWithoutText {
  min-height: 30vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(136, 1, 111, 0.9) 0%,
    rgba(22, 15, 111, 0.9) 100%
  );
}

.blogPublicaciones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
}

